{% extends '#base_layer.html' %}
{% block title %}场地申请{% endblock title %}
{% block body %}
            <form name="frmUserReg" method="POST" action= {% url "chuanshanghui:classroom_apply" %} >
			<div class="Hui-article">
			<article class="cl pd-20">
                {% csrf_token %}
			<h1 align="center">场地申请</h1>
				<p><font color="red">以下内容请如实填写，其中带有*号的栏目是必须填写的</font>
                <p><label for="rom">*申请教室：</label>
				<select name="rom" required>
                {% for rm in rooms %}
					<option>{{ rm.classroom_num }}</option>
                {% endfor %}
				</select>
                <p><label for="room_for_dp_id">*申请部门：</label>
				<select name="room_for_dp_id" required>
                {% for dp in dps %}
					<option value={{ dp.dp_num }}>{{ dp.dp_name }}</option>
                {% endfor %}
				</select>
                <p><label for="room_pincharge_id">*请输入教室申请人学号：</label>
				<input type="text" name="room_pincharge_id" size="15" maxlength="11" required>
                <p><lable for="room_for_matt">*请填写教室使用事项：</lable>
				<p>
				<textarea name="room_for_matt" rows="5" cols="40" >不超过200个字
				</textarea>
                <br>
				<p align="center">
					<input type="submit" name="btnSubmit" value="确认提交" onclick = "alert_info()" >
				</p>
				<p align="center">
					<input type="reset" name="btnReset" value="&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp; " size = "4">
				</p>
            </article>
            </div>,
            </form>
{% endblock body %}
{% if result %}
    <p style = 'text-align: center;color: green'>提交教室申请成功！</p>
{% endif %}