{% extends '#base_layer.html' %}
{% block title %}添加部门对接任务{% endblock title %}
{% block body %}
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="actname" class="input-text" value="" placeholder="" id="" > <span>{{ error1 }}</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>发布部门：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="dpnum" class="select"><span>{{ error2 }}</span>
					<option value="0">选择部门</option>
					<option value="01">组织部</option>
					<option value="02">创业就业促进部</option>
                    <option value="03">朝阳青年志愿者服务队</option>
                    <option value="04">社团联合会</option>
                    <option value="05">文体部</option>
                    <option value="06">宣传部</option>
                    <option value="07">学术科技部</option>
                    <option value="08">办公室</option>
                    <option value="09">学习部</option>
                    <option value="10">公关部</option>
                    <option value="11">外联部</option>
                    <option value="12">素质拓展中心</option>
                    <option value="13">权益部</option>
                    <option value="14">艺术团</option>
				</select>
				</span> </div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>对接部门：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="dpnum" class="select"><span>{{ error2 }}</span>
					<option value="0">选择部门</option>
					<option value="01">组织部</option>
					<option value="02">创业就业促进部</option>
                    <option value="03">朝阳青年志愿者服务队</option>
                    <option value="04">社团联合会</option>
                    <option value="05">文体部</option>
                    <option value="06">宣传部</option>
                    <option value="07">学术科技部</option>
                    <option value="08">办公室</option>
                    <option value="09">学习部</option>
                    <option value="10">公关部</option>
                    <option value="11">外联部</option>
                    <option value="12">素质拓展中心</option>
                    <option value="13">权益部</option>
                    <option value="14">艺术团</option>
				</select>
				</span> </div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">截止时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input name="actheldtime" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate">
			    <span>{{ error4 }}</span>
            </div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否需要对方联系方式：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="dpnum" class="select"><span>{{ error2 }}</span>
					<option value="0">否</option>
					<option value="1">是</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">任务细节：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="actdetails" cols="" rows="" class="textarea"  placeholder="最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,500)"></textarea>
				<span>{{ error8 }}</span>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/500</p>
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input name="numberofplimit" type="text" class="input-text" value="" placeholder="" id=""><span>{{ error7 }}</span>
			</div>
		</div>
        <div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button>发布</button>
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
		<!--<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">活动编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="0" placeholder="" id="" name="">
			</div>
		</div>-->
		<!--<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">关键词：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="">
			</div>
		</div>-->
		<!--<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章作者：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="0" placeholder="" id="" name="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章来源：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="0" placeholder="" id="" name="">
			</div>
		</div>-->
		<!--<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">使用独立模版：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input type="checkbox" id="checkbox-moban">
					<label for="checkbox-moban">&nbsp;</label>
				</div>
				<button onClick="mobanxuanze()" class="btn btn-default radius ml-10">选择模版</button>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">缩略图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list"></div>
					<div id="filePicker">选择图片</div>
					<button id="btn-star" class="btn btn-default btn-uploadstar radius ml-10">开始上传</button>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<script id="editor" type="text/plain" style="width:100%;height:400px;"></script>
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">允许评论：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input type="checkbox" id="checkbox-pinglun">
					<label for="checkbox-pinglun">&nbsp;</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">评论开始日期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">评论结束日期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'datemin\')}'})" id="datemax" class="input-text Wdate">
			</div>
		</div>-->
	</form>
</article>

<!--请在下方写此页面业务相关的脚本-->
 {% block yewu_js %}
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-admin-add").validate({
            rules:{
                stu_name:{
                    required:true,
                    minlength:1,
                    maxlength:16
                },
                stu_sex:{
                    required:true,
                },
                stu_phone:{
                    required:true,
                    isPhone:true,
                },
                stu_post:{
                    required:true,
                },
                dp_name:{
                    required:true,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit();
                var index = parent.layer.getFrameIndex(window.name);
                parent.$('.btn-refresh').click();
                parent.layer.close(index);
            }
        });
    });
</script>
{% endblock yewu_js %}
<!--/请在上方写此页面业务相关的脚本-->
{% endblock body %}