{% extends '#base.html' %}
{% block title %}部门管理{% endblock title %}
{% block body %}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		部门管理
		<span class="c-gray en">&gt;</span>
		部长信息展示
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="w780 pb30 mb30 fr">
			    <div class="right_info p20">
				    <div class="detail_zy_title">
					    <h1>群星荟萃，虚位以待<h1>
						<p style="text-align:center;font-size:12px;color:#ccc;margin-top:10px;">发布时间:2020-06-</p>
					</div>
					<div class="detail_zy_c pb30 mb30">
					    <p style="text-align:justify;">
						    <span style="font-family:"Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"=""></span>
							<span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"=""></span>
					        <span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"="">
								秋风习习，金桂飘香。9月25日下午两点半，公共管理学院210教室热闹非常，信息资源管理系师生见面会在此隆重举行。徐恩元、李桂华、赵媛、马蕾、史坤蓉、杨海娟、杨峰老师，2017级信息资源管理专业沈芝芳、郭子瑜同学，2018级信息资源管理专业全体同学参加了本次见面会。
							</span>
						</p>
						<p style="text-align:justify;">
						    <span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"=""></span>
							<span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"=""></span>
					        <span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"="">
							    见面会氛围融洽、其乐融融，活动伊始，主持人介绍了到场老师和同学们，教室里充满了欢声笑语。接下来立马进入了正题，老师针对同学们提出来的问题一一答疑解惑。系主任杨峰老师就保研和考研等话题作了详细介绍，鼓励同学们多多参与竞赛、科研等实践活动，培养和提升科研能力。徐恩元老师建议同学们学以致用，把信息素养能力当成自己的看家本领，用以解决自己遇到的实际问题。马蕾老师、赵媛老师、李桂华老师、史坤蓉老师、杨海娟老师为同学们介绍了未来深造的研究方向、毕业生就业等问题。同学们了解到，专业毕业生既有在国内外著名高校升学的，又有在安永、华为、百度等知名企业工作的，也有在政府机关从事工作的，甚至还了解到有专业学长在联合国维和部队，让同学们对自己的未来规划和职业前景有了更多的想法。
							</span>
						</p>
						<p style="text-align:justify;">
						    <span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"=""></span>
							<span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"=""></span>
					        <span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"="">
							    活动中，沈芝芳学姐分享了自己的保研经历和学习经验，鼓励同学们在大三多多尝试、发现新的自己，珍惜突破自己的机会，同时也要做好健康管理，保持健康生活习惯，做好未来规划，选择想要的人生。郭子瑜学长就留学问题作了详细而系统的讲解，对留学问题缺乏了解的同学们感叹受益匪浅。
							</span>
						</p>
						<p style="text-align:justify;">
						    <span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"=""></span>
							<span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"=""></span>
					        <span style="font-family: "Microsoft YaHei"; font-size: 14px; color: rgb(51, 51, 51); line-height: 2;" font-size:14px;color:#333333;line-height:2;"="">
							    见面会结束后，全体师生在公共管理学院楼前合影留念。本次师生见面会的举办为同学们未来的大学生活和学习指明了方向，相信2018级的同学们通过这次活动能够明志向、鼓斗志、立德行，“信达天下，资致四方”，在信息资源管理系各位老师的指导下，2018级信息资源管理专业的全体同学将不断学习努力奋进，成长为具有深厚信息素养和扎实专业本领的新一代信资人！
							</span>
						</p>
						<p>
						    <br />
						<p>
						<div style="text-align:center;">
						   <img width="550" height="413" style="font-size:12px;" alt="" src="301025318718.png"/>
						</div>
						<div style="text-align:right;">
						    <span style="font-size:"px;font-family:" color:#333333;line-height:2;="">
							</span>
						    <span style="font-size=14px;font-family: "Microsoft YaHei"; color:#333333;line-height:2;"="">来源：公共管理学院团委学生会权益部
							</span>
					    </div>
						<div style="text-align:right;">
						    <span style="font-size:14px;font-family: "Microsoft YaHei"; color:#333333;line-height:2;"="">撰稿：胡玉零
							</span>
						</div>
						<div style="text-align:right;">
						    <span style="font-size:14px;font-family: "Microsoft YaHei"; color:#333333;line-height:2;"="">摄影：蒲瑞敏
							</span>
						</div>
						<div style="text-align:right;">
						    <span style="font-size:14px;font-family:" color:#333333;line-height:2;"="">
							</span>
						</div>
						<p>
						    </br>
						</p>
						<p>
						    </br>
						</p>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>

<!--请在下方写此页面业务相关的脚本-->
{% block yewu_js %}
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
		//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		{"orderable":false,"aTargets":[0,8]}// 不参与排序的列
	]
});

/*资讯-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*资讯-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}

/*资讯-发布*/
function article_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布!',{icon: 6,time:1000});
	});
}
</script>
{% endblock yewu_js %}
    <!--/请在上方写此页面业务相关的脚本#-->
{% endblock body %}