{% extends '#base_layer.html' %}
{% block title %}个人中心-修改密码{% endblock title %}
{% block staticfiles %}
    <script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
{% endblock staticfiles %}
{% block body %}
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-changePassword">
        {% csrf_token %}
        {% if message %}
                <div class="row cl message">{{ message }}</div>
        {% endif %}
        <!--原密码-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>原密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" value="" placeholder="输入原密码" id="password" name="password">
			</div>
		</div>
        <!--新密码-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" value="" placeholder="输入新密码" id="new_password" name="new_password">
			</div>
		</div>
        <!--重新输入新密码-->
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" value="" placeholder="确认新密码" id="renew_password" name="renew_password">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;确定&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{% endblock body %}

{% block yewu_js %}
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-red',
		radioClass: 'iradio-red',
		increaseArea: '20%'
	});
	
	$("#form-changePassword").validate({
		rules:{
			password:{
				required:true,
				minlength:1,
				maxlength:12
			},
			new_password:{
				required:true,
                min_length=1,
                max_length=12
			},
			renew_password:{
				required:true,
                equalTo: "#new_password"
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
            parent.layer.close(index);
            parent.location.reload();

		}
	});
});
{% endblock yewu_js %}