{% extends '#base_layer.html' %}
{% block title %}添加{% endblock title %}
    {% block staticfiles %}
    <script type="text/javascript" src="../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	{% endblock staticfiles %}
{% block body %}
<article class="cl pd-20">
	<form action='{% url "chuanshanghui:money_add" %}' method="post" class="form form-horizontal" id="money-add">
	{% csrf_token %}
<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>使用资金活动</label>
			<span class="select-box inline">
				<input type="text" name ="goodsfor_act" required autocomplete="off">
			</span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>物品名称</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name ="Goodsname" required autocomplete="off">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3" ><span class="c-red">*</span>物品单价</label>
			<div class="formControls col-xs-8 col-sm-9">
                <input type="price" class="input-text" name ="Goodsprice" >
            </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3" ><span class="c-red">*</span>物品数量</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="number" class="input-text" name ="Goodsqua" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3" ><span class="c-red">*</span>物品总价</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="price" class="input-text" name ="Goodstotal" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name ="beizhu"  class="textarea"  placeholder="备注" onKeyUp="textarealength(this,100)"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" id="btn" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" name="">
			</div>
		</div>
	</form>
</article>
{% endblock body %}
<script type="text/javascript" >
{% block yewu_js %}
	$(function(){
	$("#money-add").validate({
		rules:{
			goodsfor_act:{
				required:true,
			},
			Goodsname:{
				required:true,
			},
			Goodsprice:{
				required:true,
			},
			Goodsqua:{
				required:true,
			},
			Goodstotal:{
				required:true,
			},
    		beizhu:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
{% endblock yewu_js %}
</script>